@font-face {
    font-family: "fatkat";
    src: url("/fonts/fatkat/fatkat.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/sf-ui/SFUIText-Light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/sf-ui/SFUIText-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/sf-ui/SFUIText-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/sf-ui/SFUIText-Semibold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/sf-ui/SFUIText-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/sf-ui/SFUIText-Heavy.otf");
  font-weight: 800;
  font-style: normal;
}