.box--poll {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "SF Pro Text", sans-serif;
}

.next-week {
  width: 100%;
  padding: 12px;
  color: white;
}

.poll-title {
  text-align: center;
  margin-bottom: 12px;
  font-size: 14px;
}

.poll-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.poll-column {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 13px;
}

.poll-button {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  background: #ffffff;
  color: #141428;
  border: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 800;
}

.poll-button {
  transition: transform 0.3s ease, opacity 0.1s ease;
  will-change: transform;
}

.poll-button:active {
  transform: scale(0.97);
  opacity: 0.85;
}

.poll-option {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  background: #141428;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 11px;
  font-weight: 800;
  transition: 0.2s ease;
  user-select: none;
}

.poll-option.active {
  background: #ffffff;
  color: #141428;
}

.poll-success {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 800;
  color: white;
  opacity: 0;
  transform: scale(0.95);
  transition: 0.4s ease;
  pointer-events: none;
}

.poll-success svg {
  display: block;
}

.poll-success.show {
  opacity: 1;
  transform: scale(1);
}

.hidden {
  display: none;
}

@media (min-width: 1024px) {

  .box--poll {
    padding: 10px;
  }

  .next-week {
    padding: 20px;
  }

  .poll-title {
    font-size: 18px;
    margin-bottom: 18px;
  }

  .poll-grid {
    gap: 16px;
  }

  .poll-column {
    gap: 10px;
    font-size: 14px;
  }

  .poll-option {
    font-size: 13px;
    padding: 14px;
    border-radius: 12px;
  }

  .poll-button {
    font-size: 14px;
    padding: 14px;
    border-radius: 12px;
  }

  .poll-success {
    font-size: 22px;
    gap: 14px;
  }

  .poll-option {
    transition: transform 0.2s ease, background 0.2s ease;
  }

  .poll-option:hover {
    background: #ffffff;
    color: #141428;
  }
}