---
import { ShoppingCartIcon } from "@animateicons/react/lucide";
import "../styles/panel.css";
import { Image } from "astro:assets";
import triples from "../assets/triples.png";
import donas from "../assets/donas.jpg";
import "../styles/poll.css";
import banderillas from "../assets/banderillas.webp";
---

<section class="panel">
  <div class="box">
    <Image src={triples} alt="Product" class="box-image" loading="eager"/>
    <div class="price-box" data-product="Triples" data-price="1.50">
        <div class="stock">
            <span class="stock-label">Stock</span>
            <span class="stock-value">12</span>
        </div>
        <div class="price-container">
          <span class="price-label">
            <span class="seller">CHICATEJA</span>
            <span class="product">TRIPLES</span>
          </span>
          <span class="price">PEN 1.50</span>
        </div>
        <ShoppingCartIcon className="cart-icon" />
    </div>
  </div>

  <div class="box">
    <Image src={donas} alt="Product" class="box-image" loading="eager"/>
    <div class="price-box" data-product="Donas" data-price="3.00">
        <div class="stock">
            <span class="stock-label">Stock</span>
            <span class="stock-value">12</span>
        </div>
        <div class="price-container">
          <span class="price-label">
            <span class="seller">EL PIBE</span>
            <span class="product">DONAS</span>
          </span>
          <span class="price">PEN 3.00</span>
        </div>
        <ShoppingCartIcon className="cart-icon" />
    </div>
  </div>

  <div class="box box--poll">
    <div class="next-week">

      <h3 class="poll-title">¡Tú eliges la siguiente semana!</h3>

      <div class="poll-grid">

        <div class="poll-column">
          <button class="poll-option" data-value="Producto 1">Pulpitos crujientes</button>
          <button class="poll-option" data-value="Producto 2">Bombitas azucaradas</button>
          <button class="poll-option" data-value="Producto 3">Rollitos de salchicha</button>
          <button class="poll-option" data-value="Producto 4">Triples</button>
        </div>

        <div class="poll-column">
          <button class="poll-option" data-value="Producto 5">Pitipan de pollo</button>
          <button class="poll-option" data-value="Producto 6">Mini hamburguesas</button>
          <button class="poll-option" data-value="Producto 7">Chocotejas</button>
          <button class="poll-button">Enviar respuestas</button>
        </div>

      </div>

    </div>
  </div>
</section>

<script>
  const options = document.querySelectorAll(".poll-option");

  let selected: string[] = [];

  options.forEach((option) => {
    const el = option as HTMLElement;

    el.addEventListener("click", () => {
      const value = el.dataset.value;

      if (!value) return;

      if (selected.includes(value)) {
        selected = selected.filter((v) => v !== value);
        el.classList.remove("active");
        return;
      }

      if (selected.length >= 2) return;

      selected.push(value);
      el.classList.add("active");
    });
  });
</script>